*body{
  margin: 0;
  padding: 0;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
p{
  margin-left: 150px;
}
h1, h3, .med{
  margin-left: 150px;

}


body{
    line-height: 28px;
}
h3{
    font-family: Montserrat;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  nav {
    background-color: #ffffff;
    padding: 10px 0px;
    position: fixed; 
    width: 100%; 
    top:0; 
    z-index: 1000; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  
  li {
    display: inline;
  }
  
  a {
    text-decoration: none;
    color: #6a6868;
    padding: 10px 20px;
    
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  
  a:hover {
    background-color: #e6e6e6;
  }
  
  
  body {
    padding-top: 60px ; 
  }
  
  
  main{
    padding-left:100px 0;
    padding-top:50px 0;
  }
  

  .Sign{
    position: absolute;
    left: 2000px;
    cursor:pointer;
    background: none;
    font-size: 17px;
    padding: 6px 15px;
    transition: 0.4s;
    color: white;
    border-radius: 3px;
    outline: none;
    border: none;
  }
  
  .Sign{
    background-color: rgb(0, 98, 255);
  }
  
  .Sign:hover{
    box-shadow: 0px 0px 20px  rgba(0, 0, 0, 0.5);
  }

  .just{
    text-align: center;
    margin: 150px;
    margin-right: 300px;
    margin-left: 220px;
  }

  .Cha{
    position:absolute;
    left: 700px;
    
  }

  .yu{
    animation-name: SlideUp;
    animation-duration: 2s;
    font-size: 23px;
    
  }
  @keyframes SlideUp{
    from{transform: translateY(300%);}
  }
.ty{
  font-family: Georgia;
  font-style: italic;
}
.tt{
  font-family:serif;
  color: #3f3f3f;
}
.yay{
  background-image: url(paper.jpg);
}

.rr{
  position: absolute;
  left: 900px;
}

.Container{
  padding-left: 400px;
}

.et{
  padding-left: 150px;
}

.ggw {
  width: 300px; 
  height: 150px; 
  padding: 15px; 
  background-color: rgb(51, 163, 255); 
  box-sizing: border-box; 
  position: absolute;
  left: 1200px;
  box-shadow: 10px 10px 2px  rgba(0, 0, 0, 1);
  text-align: center;
  color: #00000083;

}

.boxx{
  display: flex;
  align-items: right;
  justify-content: right;
  position: absolute;
  right: 250px;
  height: 33px;
  position: absolute;

  
}

form{
  display: flex;
  
  
}

form input[type="text"]{
  flex: 1;
  
  
  
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #0077ff;
  color: #fff;
  border: none;
  outline: 1px solid #0077ff; 
  border-radius: 5px;
  cursor: pointer;
}
form button:hover{
  background-color: #0121d3;

}

